table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 100px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

p{
    font-size: small;
 } 

.student-selected{
     background-color: lightgreen;
 }

.card{
    margin: 20px;
    border: none;
}

md-card{
   border-radius: 5px;
}

 md-toolbar{
  border-radius: 8px 8px 0 0;
  box-shadow: 0 1px rgba(255, 255, 255, 0.1);
  color: white;
}
  
 

 

 