<div>
  <table>
    <caption>Students List</caption>
    <p>*Please select a student to view details</p>
    <tr>
      <th>Student Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Grade</th>
      <th>SchoolName</th>
    </tr>
    <tr *ngFor="let student of students" 
    (click)='handleSelectStudent(student)'
    [ngClass]="{'student-selected': selectedStudent === student}">
      <td>{{student.studentId}}</td>
      <td>{{student.firstName}}</td>
      <td>{{student.lastName}}</td>
      <td>{{student.grade}}</td>
      <td>{{student.schoolName}}</td>
    </tr>
  </table>
</div>

<div *ngIf="selectedStudent">
  <table>
    <caption>Enrollment History of {{selectedStudent.firstName}}</caption>
    <tr>
      <th>Entry Date</th>
      <th>Exit Date</th>
      <th>Exit Reason</th>
    </tr>
    <tr *ngFor="let eh of enrollmentHistory">
      <td>{{eh.entryDate | date: 'medium'}}</td>
      <td>{{eh.exitDate | date: 'medium'}}</td>
      <td>{{eh.exitReason}}</td>
    </tr>
  </table>


  <table>
    <caption>Assignment History of {{selectedStudent.firstName}}</caption>
    <tr>
      <th>Assignment Name</th>
      <th>Due Date</th>
      <th>Max Score</th>
      <th>Completion Date</th>
      <th>Score Earned</th>
    </tr>
    <tr *ngFor="let ah of assignmentHistory">
      <td>{{ah.assignmentName}}</td>
      <td>{{ah.dueDate | date: 'medium'}}</td>
      <td>{{ah.maxScore}}</td>
      <td>{{ah.completionDate | date: 'medium'}}</td>
      <td>{{ah.scoreEarned}}</td>
    </tr>
  </table>
</div>